@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&family=Oswald&family=Quicksand:wght@600&display=swap');

/* general css - any basic formatting for different elements throughout the html that I used */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: oswald, arial, helvetica, sans-serif;
    font-weight: 600;
    color: #5c052e;
}

a { 
    text-decoration: none;
}

/* background */

body {
  background-color: #eae9d5;
}

/* home page background could be image of kitchen or food prep station but add transparency to it? */

/* could use similar idea for the background image for the other pages as well - see what works best */

/* remember to add class and selector style rules for each bit you want to style, refer back to lessons and add them to readme when you do */

/* headings and logo  */

#logo {
    float: center;
    font-size: 300%;
    text-align: center;
    margin-right: 4%;
    
}

h1, h2 {
    font-family: quicksand, arial, helvetica, sans-serif;
    letter-spacing: 4px;
    color: #6e0826;
}

h3 {
    font-family: quicksand, arial, helvetica, sans-serif;
    letter-spacing: 1px;
    color: #6e0826;
}

/* body content for general css */

.about {
  margin: auto;
  margin-right: 3%;
  text-align: center;
  font-size: x-large;
}

.intro {
  clear: both;
}

.inline {
  display: inline-block;
  margin-left: 1%;
  clear: both;
  position: relative;
  bottom:97px;
  right: 1px;
}

/* navigational links */

#menu {
  font-size: 110%;
  letter-spacing: 2px;
}

#menu, #logo {
  line-height: 50px;
}

#menu li {
  float: left;
  list-style-type: none;
  margin-right: 30px;
}

.menu {
  float:none;
  margin-top: 0.4%;
  margin-left: 42.5%;
}

#menu a {
  color: inherit;
}

#menu a:hover {
  border-bottom: 2px solid #8f6c8d;
}

.active {
  border: 2px solid #8f6c8d;
}

/* lists */

ol li {
    list-style: decimal;
    list-style-position: inside;
}

  .checkbox {
    /* width: 13px;
    height: 13px;
    padding: 0;
    margin:0; */
    vertical-align: bottom;
    position: relative;
    top: -3px;
    overflow: hidden;
  }

  .main-list {
    font-family:Baloo-Tammudu-2;
    font-weight: 300;
  }

  /* images */

  #pizza-dough-ingredients {
    width: 200px;
    height: 200px;
    border-radius: 40%;
  }

  .images {
    width: 200px;
    height: 200px;
    border-radius: 40%;
  }

  .column {
    float: left;
    width: 10%;
    padding: 1px; }

    .row {
      clear: both;
      display: inline;
    }

    .center {
      display: block;
      margin-top: 3%;
      margin-left: 31%;
      width: 70%;
    }

    .spacing
    {
      margin-top: 15%;
    }
 /* footer  */

 footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-right: 3%;
  /* margin-top: 300px; */
}

 .socials {
  text-align: center;
}

.socials > li {
  display: inline;
}

.socials i {
  font-size: 400%;
  margin: 1%;
  padding: 1.5%;
  color: #5c052e;
}

#copyright {
  text-align: center;
  color: inherit;
}