@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: quicksand, arial, helvetica, sans-serif;
    font-weight: 600;
    color: #5c052e;
}

/* home page background could be image of kitchen or food prep station but add transparency to it? */

/* could use similar idea for the background image for the other pages as well - see what works best */

/* remember to add class and selector style rules for each bit you want to style, refer back to lessons and add them to readme when you do */