@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@600&display=swap');

/* general css */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: oswald, arial, helvetica, sans-serif;
    font-weight: 600;
    color: #5c052e;
}

a { 
    text-decoration: none;
}

/* home page background could be image of kitchen or food prep station but add transparency to it? */

/* could use similar idea for the background image for the other pages as well - see what works best */

/* remember to add class and selector style rules for each bit you want to style, refer back to lessons and add them to readme when you do */

/* headings and logo  */

#logo {
    float: center;
    font-size: 300%;
    text-align: center;
    
}

h1 {
    font-family: quicksand, arial, helvetica, sans-serif;
    letter-spacing: 4px;
    color: #6e0826;
}

h2 {
    font-family: quicksand, arial, helvetica, sans-serif;
    letter-spacing: 1px;
    color: #6e0826;
}

ol li {
    list-style: decimal;
    list-style-position: inside;
}

  .steps {
    /* width: 13px;
    height: 13px;
    padding: 0;
    margin:0; */
    vertical-align: bottom;
    position: relative;
    top: -2px;
    overflow: hidden;
  }